.main{
    text-align: center;
    width:100%;
    margin-top: 10px;
}
.datadiv{
    margin-top: 30px !important;
    height:200px;
    background-image: linear-gradient(aquamarine, aqua);
    width: 200px !important;
    font-weight: bold;
    border:0.5px solid blue;
    border-collapse: separate;
}
.icon{
    margin-top:20px;
    margin-bottom: 50px;
    font-size:30px !important;
    color:white;
    text-align: center !important;
    position: relative;
    left:90px;
}
.icon_death{
    margin-top:20px;
    margin-bottom: 50px;
    font-size:30px !important;
    color:white;
    text-align: center !important;
    position:relative;
    position: relative;
    left:70px;
}
.figure{
    text-align: center;
    font-size:35px !important;
    color:white;
    margin-top: 60px;
}
.text{
    color:white;
    margin-top: 20px !important;
    font-size:18px !important;
}
