@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.main {
    text-align: center;
    width: 100%;
    margin-top: 10px;
}

.globalContainer {
    display: flex;
    justify-content: space-around;
}

.datadiv {
    margin-top: 30px !important;
    height: 150px;
    background-color: rgb(47, 128, 237);
    width: 200px !important;
    font-weight: bold;
    margin-bottom: 30px !important;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: transform 100ms ease-in;
}

.datadiv:hover {
    transform: scale(1.07);
    cursor: pointer;
}


.text {
    color: white;
    font-size: 18px !important;
    font-family: 'Josefin Sans', cursive;
}

.figure {
    text-align: center;
    font-size: 35px !important;
    color: white;
    font-family: 'Josefin Sans', cursive;

}